name: flutter_studio_example
description: Example app demonstrating Flutter Studio components
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_studio:
    path: ../

flutter:
  uses-material-design: true
